{# navbar.html.twig #}
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/">Accueil</a></li>
        <li><a href="/products.php">Produits</a></li>
        {# Ajoutez d'autres liens de navigation selon vos besoins #}
    </ul>
</nav>