{# navbar.html.twig #}
<nav >
    <ul class="nav-list">
        <li><a href="/">Accueil</a></li>
        <li><a href="/products.php">Produits</a></li>
        <li><a href="/details.php">Detail</a></li>
        {# Ajoutez d'autres liens de navigation selon vos besoins #}
    </ul>
</nav>