{# product.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}

    Produits

{% endblock %} 
 
{% block content %}
    <h2>Liste des produits :</h2>

    <ul>
       
        {% for product in products %}
            <li>{{ product }}</li>
        {% endfor %}
    </ul>

    <h2>Résultat du dump() :</h2>
    
    {{ dump(products) }}

{% endblock %}